<div class="footer">
    <ul>
        <li>
          <a href="">Become a Seller</a>
        </li>
        <li>
          <a href="">Polices</a>
        </li>
        <li>
          <a href="">Terms and Conditions</a>
        </li>
        <li>
          <a href="https://amanpatel2529.github.io/OIBGRIP-task-2-level-1.github.io/?name=Sumedh+Kamble&email=sumedh9512kamble%40gmail.com&message=Hiii#contact">Help Center</a>
        </li>
        <li>
            <a href="">News</a>
        </li>
        <li>
            <a href="https://www.facebook.com/profile.php?id=100029247998445&mibextid=ZbWKwL">Facebook</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/aman-patel-6a223723a">Linkedin</a>
        </li>
        <li>
            <a href="">Sitemap</a>
        </li>
        <li>
            <a href="">FAQ</a>
        </li>
      </ul>
      <p> 2023 E-comme Project ©copyright amanpatel.ajp@gmail.com</p>
      <p>"All rights reserved. No part of this website may be reproduced without prior written permission."</p>
      
</div>